/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* End Global Rules */
/* start Style body */
body{
    background-color: black;
    font-family: 'Nunito', sans-serif;
}
/* end Style body */
/* Start Container */
.container{
    width: 80%;
    margin: auto;
}
/* End Container */
/* Start Nav  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
@media(max-width: 768px){
    nav{
        flex-direction: column;
    }
    .nav__list{
        padding-top: 10px;
    }
}
.nav__logo img{
    height: 65px;
}
.nav__list{
    display: flex;
    gap: 15px;
}
.nav__list a{
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    transition: 0.3s;
    padding: 5px;
    display: block;
}
.nav__list a:hover{
    color: #ffbb00;
}
/* End Nav  */
/* Start content */
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px){
    .content{
        flex-direction: column;
    }
}
.content__text{
    color: #fff;
    flex-basis: 40%;
}
@media (max-width: 768px){
    .content__text{
        text-align: center;
    }
    .content__text h2{
        font-size: 10px;
    }
}
.content__text h2{
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
}
@media (max-width: 768px){
    .content__text h2{
        font-size: 30px;
    }
}
.content__text p{
    font-size: 18px;
    margin: 10px 0;
    font-weight: 200;
    line-height: 1.5;
}
.content__text button{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}
.content__text button:hover{
    background-color: #ffbb00;
    color: #262626;
}
.content__image{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}
.content__image img{
    width: 220px;
}
@media (max-width: 768px){
    .content__image img{
        width: 150px;
    }
}
.parent--iphone{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}
.parent--iphone img{
    width: 50px;
    cursor: pointer;
    transition: 0.4s;
}
.parent--iphone img:hover{
    transform: scale(1.2);
}
/* end content */